@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "srs";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.019 200.873);
  --color-base-200: oklch(98% 0.025 200.873);
  --color-base-300: oklch(91% 0.025 202.041);
  --color-base-content: oklch(39% 0.07 227.392);
  --color-primary: oklch(64% 0.2 131.684);
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: oklch(44% 0.043 257.281);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(64% 0.222 41.116);
  --color-accent-content: oklch(98% 0.016 73.684);
  --color-neutral: oklch(39% 0.07 227.392);
  --color-neutral-content: oklch(98% 0.019 200.873);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
@theme {
  --font-sans: "Google Sans", sans-serif;
  --font-lobster-two: "Lobster Two", cursive;
}

@utility fade {
  @apply border-current/20 ring-current/20;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

@utility rounded-sleek {
  @apply rounded-[1.05rem];
}
